<div id="public_listing_container">
    <header class="row">
        <div class="col-xs-12">
            <span class="preview_listing_nav_title">Preview of Listing</span>
            <span ng-click="goBack()"><i class="fa fa-arrow-left"></i></span>
        </div>
    </header>
    
    <div class="public_listing_container_scroll">
       
        <div class="row ">
            <div class="col-xs-12 pic_container">
                <img ng-src="{{listing.img}}"/> 
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-8 left listing_info">
                        <span class="listing_title">{{listing.title}}</span>
                        <span class="seller_info">Seller: 
                            <span class="seller_name" ng-click="show_seller_info = true">{{listing.seller.firstName}}</span>
                        </span>

                    </div>
                    <div class="col-xs-4 right listing_info">
                        <span class="listing_price">Price</span>
                        <span class="listing_price_amout">${{listing.price}}</span>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="description">

                <span class="description_title"> Description </span>

                {{listing.description}}
                </div>
            </div>
        </div>

        <div class="row">
            
            <div class="col-xs-12">

                <span class="messages_title"> Questions 
                    <span class="number_of_questions_circle">
                        <span class="number_of_questions">2</span>
                    </span>
                    <i class="fa fa-plus" ng-click="post_a_question = true"></i>
                    <i slide-toggle-body class="fa fa-chevron-up"></i>
                </span>
                
                <div class="body_toggle">
                    <div class="messages">

                        <div class="row">
                            
                            <div class="col-xs-12 message">

                                <span class="message_submitted_by">
                                    <span class="message_by">Question</span>
                                        </span>
                                <span class="submitted_at">10:32am 12/12/12</span>

                                <span class="message_body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                                </span>

                                <div class="message_response">
                                    <span class="replyed_at">1:15pm 12/12/12</span>
                                    <span class="replayed_from">
                                        <span class="message_by">Anwser</span>
                                    
                                    </span>

                                    <span class="response_body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                                    </span>

                                </div>
                               
                                <div class="col-xs-12">
                                    <span class="message_line_break"></span>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-xs-12 message">

                                <span class="message_submitted_by">
                                    <span class="message_by">Question</span>
                                        </span>
                                <span class="submitted_at">4:15pm 12/13/12</span>

                                <span class="message_body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                                </span>
                               
                                <div class="col-xs-12">
                                    <span class="message_line_break"></span>
                                </div>

                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>

        

        <!-- Seller's Reviews -->
        <div class="row">
            <div class="col-xs-12">

                <span class="messages_title"> Seller's Reviews 
                    <span class="number_of_reviews_circle">
                        <span class="number_of_questions">2</span>
                    </span>
                    <i slide-toggle-body class="fa fa-chevron-up"></i>
                </span>
                <div class="body_toggle">
                    <div class="messages">

                    <div class="row">
                        
                        <div class="col-xs-12 message">

                            <span class="message_submitted_by">
                                <span class="message_by">Item: </span>
                                    Title of Item</span> 
                            <span class="submitted_at">12/12/12</span>

                            <span class="message_body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </span>

                            <div class="message_response">
                                <span class="replyed_at">12/12/12</span>
                                <span class="replayed_from">
                                    <span class="message_by">Response from </span> Travis
                                
                                </span>

                                <span class="response_body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                                </span>

                            </div>
                           
                            <div class="col-xs-12">
                                <span class="message_line_break"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-xs-12 message">

                            <span class="message_submitted_by">
                                <span class="message_by">Item: </span>
                                    Title of Item</span>
                            <span class="submitted_at">12/13/12</span>

                            <span class="message_body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </span>
                           
                            <div class="col-xs-12">
                                <span class="message_line_break"></span>
                            </div>

                        </div>
                    </div>
                
                    </div>

                    <div class="show_more_reviews"> Show More Reviews </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <!-- <div class="col-xs-5 btn-ask_question"> Post a Question</div> -->
                    <div class="col-xs-12 btn-buy"> Buy This Item</div>
                </div>
            </div>
        </div>

    </div>

</div>